{% extends 'base.html.twig' %}

{% block body %}
<section class="our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-9">
                <div class="my_profile_form_area employer_profile">
                    <div class="row">
                        <center>
                            <div class="col-lg-12">
                                <h4 class="fz20 mb20">Modifier l'événement ✅</h4>
                            </div>
                        </center>
                        <div class="col-lg-12 mt30">
                            <div class="my_profile_thumb_edit"></div>
                        </div>

                {{ form_start(edit_form, { 'attr': {'class': 'col-lg-12' }}) }}
                    {{ form_widget(edit_form) }}
                                    <br>
                    <input class="btn btn-primary" type="submit" value="Edit" />
                {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
